<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Roomz</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway&family=Roboto+Condensed&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/styles/styles.css">
</head>

<body>
    <div id="mySidenav" class="sidenav">
        <a href="/" id="navbar-brand"><i class="fa-light fa-stroopwafel fa"></i>
          <br>
          ROOMZ
          </a>
        <a href="/"><i class="fa-solid fa-house fa"></i>
          <br>
          Home
          </a>
        <a href="/floorplan"><i class="fa-brands fa-buromobelexperte fa"></i>
          <br>
          Floorplan
          </a>
        <a href="/messages"><i class="fa-regular fa-message fa"></i>
          <br>
          Messages
          </a>
        <a href="#"><i class="fa-solid fa-toolbox fa"></i>
          <br>
          Tools
          </a>
        <a href="#"><img class="bottom-side roomz-ai" src="/static/images/roomz_ai.png" alt=""></a>
        <a href="#"><img class="bottom-side user-pic" src="/static/images/generic_user.png" alt=""></a>
      </div>

  {% block content %}
  {% endblock %}

<script src="https://kit.fontawesome.com/bf5d049ab1.js" crossorigin="anonymous"></script>
</body>
</html>