<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Roomz</title>

  <link rel="stylesheet" href="/static/styles/styles.css">
</head>

<body>

    <div id="mySidenav" class="sidenav">
        <a href="/" class="navbar-brand">
            <!-- <img src="/static/images/warbler-logo.png" alt="logo"> -->
            <span>Roomz</span>
          </a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
      </div>

  {% block content %}
  {% endblock %}

</div>
</body>
</html>