<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Roomz</title>

  <link rel="stylesheet" href="/static/styles/styles.css">
</head>

<body>

    <div id="mySidenav" class="sidenav">
        <a href="/" id="navbar-brand">
            <!-- <img src="/static/images/warbler-logo.png" alt="logo"> -->
            <span>Roomz</span>
          </a>
        <a href="/"><i class="fa-solid fa-house"></i></a>
        <a href="/messages"><i class="fa-regular fa-message"></i></a>
        <a href="#"><i class="fa-solid fa-toolbox"></i></a>
        <a href="#">Contact</a>
      </div>

  {% block content %}
  {% endblock %}


  
</div>
<script src="https://kit.fontawesome.com/bf5d049ab1.js" crossorigin="anonymous"></script>
</body>
</html>