{% extends 'base.html' %}

{% block content %}
<div id="main-body">
  <h1>Good morning, {{ user.first_name }}!</h1>

  <div class="tasks-area main-page-area">
      <h2>Tasks</h3>
      <button class="thin">See all</button>

      {% for room in user.rooms %}

      <div class="area-interior area-interior-vertical">

      <h3>{{ room.name }}</h4>

      <form>
        {% for item in room.tasks %}
        <div class="tasks-list">
          <span><input type="checkbox" id="{{ item.id }}"></span>
          <label for="{{ item.id }}">{{ item.item }}</label>
        </div>
        {% endfor %}
      </form>
      </div>

      {% endfor %}

  </div>

  <div class="activity-area main-page-area">
    <h2>Activity Feed</h2>
    <button class="thin">See all</button>

    <div class="activity area-interior area-interior-horizontal">
      <div class="activity-first">
        <p class="activity-main"><strong>Daily Stand Up</strong> meeting started in Homescreen Team</p>
        <p class="activity-project">Homescreen Team</p>
      </div>
      <div class="activity-secondary"> 
        <p class="activity-time">Now</p>
      </div>
    </div>
    <div class="activity area-interior area-interior-horizontal">
      <div class="activity-first">
        <p class="activity-main">You've been assigned a new task: <strong>Develop a project budget.</strong></p>
        <p class="activity-project">Project Winter</p>
      </div>
      <div class="activity-secondary"> 
        <p class="activity-time">Now</p>
      </div>
    </div>
    <div class="activity area-interior area-interior-horizontal">
      <div class="activity-first">
        <p class="activity-main">New meeting summary created: <strong>Daily Stand Up.</strong></p>
        <p class="activity-project">Homescreen Team</p>
      </div>
      <div class="activity-secondary"> 
        <p class="activity-time">Now</p>
      </div>
    </div>
  </div>

  <div class="events-area main-page-area">
    <h2>Upcoming Events</h2>
    <button class="thin">See all</button>

    <img class="schedule" src="/static/images/schedule.png" alt="Daily Schedule">

    <!-- {% for event in events %}

    <div class="event area-interior area-interior-horizontal">
      <p class="event-room">{{ event.room }}</p>
      <p class="event-name">{{ event.name }}</p>
      <p class="event-time">{{ event.datetime }}</p>
    </div>

    {% endfor %} -->

  </div>

  <div class="pinned-area main-page-area">
    <h2>Pinned People</h2>
    <button class="thin">See all</button>

    <div class="user-area">
    {% for person in user.pinned_people %}

    <div class="user">
      <img class="user-picture" src="/static/images/generic_user.png" alt="{{ person.first_name }} {{ person.last_name }}">
      <svg width="15" height="15">
        <circle class="{{ person.availability }}" cx="5" cy="5" r="5" />
      </svg>
      <div class="user-info">
        <p class="user-name"><strong>{{ person.first_name }} {{ person.last_name }}</strong></p>
        <p class="user-job">{{ person.job_title }}</p>
      </div>
    </div>

    {% endfor %}
    </div>

  </div>

</div>

{% endblock %}