<!DOCTYPE html>
<html lang="en" class="demonstration-body">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roomzie Demonstration</title>

    <link rel="stylesheet" href="/static/styles/styles.css">
</head>
<body class="demonstration-body">

    <video width="1500" height="1200" controls>
        <source src="/static/movies/Roomzie.mov" type="video/mp4">
      Your browser does not support the video tag.
      </video> 
    
</body>
</html>