{% extends 'base.html' %}

{% block content %}
<div id="main-body">
<h1>{{ room.name }} Room</h1>

<div class="new-area main-page-area">
    <h2>What's New & Important For You</h3>

        <div class="activity area-interior">
            <p class="activity-main"><strong>Daily Stand Up</strong> meeting started in Homescreen Team</p>
            <p class="activity-project">Homescreen Team</p>
            <p class="activity-time">Now</p>
          </div>
          <div class="activity area-interior">
            <p class="activity-main">You've been assigned a new task: <strong>Develop a project budget.</strong></p>
            <p class="activity-project">Project Winter</p>
            <p class="activity-time">Now</p>
          </div>
          <div class="activity area-interior">
            <p class="activity-main">New meeting summary created: <strong>Daily Stand Up.</strong></p>
            <p class="activity-room">Homescreen Team</p>
            <p class="activity-time">Now</p>
          </div>
</div>


<div class="teammates-area main-page-area">
    <h2>Your Teammates</h3>
    <button>See full roster</button>
    <div class="area-interior">

    {% for teammate in teammates %}

    <div class="person-div area-interior">
        <img class="pinned-person" src="/static/images/generic_user.png" alt="{{ teammate.first_name }} {{teammate.last_name }}">
        <div class="availability {{ teammate.availability }}"></div>
    
        <p>{{ teammate.first_name }} {{ teammate.last_name }}</p>
        <p>{{ teammate.job_title }}</p>
    </div>

    {% endfor %}
    </div>

</div>

<div class="reminders-area main-page-area">
    <h2>Your Reminders</h3>
    
    {% for event in events %}

    <div class="event-div area-interior">
        <p>Your upcoming event, {{ event.name }}, is coming up on {{ event.datetime }}</p>
        <button class="solid button">Prep Now</button>
    </div>

    {% endfor %}

</div>


<div class="resources-area main-page-area">
    <h2>Room Resources</h3>
    
    <h6>Team Files</h6>
    <div class="area-interior">
        <p>SOW.pdf</p>
    </div>
    <div class="area-interior">
        <p>2023 Project Plan.pdf</p>
    </div>
    <div class="area-interior">
        <p>SB HiFi Designs_v2.jpg</p>
    </div>

    <h6>Tools</h6>
    <a href="https://www.figma.com/" class="tools-link"><i class="fa-brands fa-figma fa"></i>
        <br>
        Figma
    </a>
    <a href="https://github.com/" class="tools-link"><i class="fa-brands fa-github fa"></i>
        <br>
        Github
    </a>
    <a href="https://mailchimp.com/" class="tools-link"><i class="fa-brands fa-mailchimp fa"></i>
        <br>
        Mailchimp
    </a>

</div>


<div class="meetings-area main-page-area">
    <h2>Your Meetings</h3>
    
    
    <h6>Upcoming</h6>
    {% for event in events %}

    <div class="event-div area-interior">
        <p><strong>{{ event.name }}</strong></p>
        <p>{{ event.datetime }}</p>
        <a href="https://meet.google.com/wje-rtng-zzb"><button class="solid button">Join</button></a>
    </div>

    {% endfor %}

    <h6>Past</h6>
    <div class="event-div area-interior">
        <p><strong>Weekly Scrum Meeting</strong></p>
        <p>10/27/23</p>
        <button class="solid button">Summary</button>
    </div>
    <div class="event-div area-interior">
        <p><strong>Daily Standup</strong></p>
        <p>10/24/23</p>
        <button class="solid button">Summary</button>
    </div>
    <div class="event-div area-interior">
        <p><strong>Weekly All Hands</strong></p>
        <p>10/22/23</p>
        <button class="solid button">Summary</button>
    </div>

</div>


</div>

{% endblock %}