 
 
 
 
 /* The side navigation menu */
 .sidenav {
    height: 100%; /* 100% Full-height */
    width: 200px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #25244D; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 45px;
    color: rgb(177, 177, 177);
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #DA3CF4;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 200px;
    right: 200px;
    font-size: 36px;
    margin-left: 50px;
  }



  /* 11104A -> Darkest Blue;
  25244D -> Darker Blue;
  010030 -> Dark Blue;
  DA3CF4 -> Pink */

  /* startup business logo, tech company, colors white and pink (#DA3CF4), simple and evocative of many meeting rooms coming together, elegant, clever */